.header {
    color:#2f4154;;
    font-family:'PT Sans',sans-serif;
    font-size:64px;
    text-decoration:none;
    margin-left:10px;
}
.text {
    color:#2f4154;;
    font-family:'PT Sans',sans-serif;
    font-size:18px;
    text-decoration:none;
    margin-left:10px;
}